In [1]:
import pandas as pd
data = {
    "Negara": ["Indonesia", "Jepang", "India", "China", "Amerika Serikat", "Brazil", "Rusia", "Meksiko", 
               "Nigeria", "Aljazair", "Jerman", "Inggris"],
    "Ibu Kota": ["Jakarta", "Tokyo", "New Delhi", "Beijing", "Washington DC", "Brasilia", "Moskow", 
                 "Mexico City", "Abuja", "Aljazair", "Berlin", "London"],
    "Benua": ["Asia", "Asia", "Asia", "Asia", "Amerika", "Amerika", "Asia", "Amerika", 
              "Afrika", "Afrika", "Eropa", "Eropa"],
    "Luas": [1905, 377, 3287, 9597, 9834, 8515, 17098, 1964, 923, 2381, 357, 243],
    "Populasi": [264, 126, 1353, 1412, 329, 212, 146, 126, 206, 43, 83, 67]
}

df = pd.DataFrame(data)
print("Berikut DataFrame nya:")
print(df)
df["Luas"] = pd.to_numeric(df["Luas"], errors="coerce")
df["Populasi"] = pd.to_numeric(df["Populasi"], errors="coerce")
mean_per_benua = df.groupby("Benua")[["Luas", "Populasi"]].mean()
print("\nMean Benua nya:")
print(mean_per_benua)
std_per_benua = df.groupby("Benua")[["Luas", "Populasi"]].std()
print("\nStandard Deviasi nya:")
print(std_per_benua)
mean_per_benua.to_csv("NegaraMean.csv")
std_per_benua.to_csv("NegaraStandarDeviasi.csv")
print("\nJadi")

Berikut DataFrame nya:
             Negara       Ibu Kota    Benua   Luas  Populasi
0         Indonesia        Jakarta     Asia   1905       264
1            Jepang          Tokyo     Asia    377       126
2             India      New Delhi     Asia   3287      1353
3             China        Beijing     Asia   9597      1412
4   Amerika Serikat  Washington DC  Amerika   9834       329
5            Brazil       Brasilia  Amerika   8515       212
6             Rusia         Moskow     Asia  17098       146
7           Meksiko    Mexico City  Amerika   1964       126
8           Nigeria          Abuja   Afrika    923       206
9          Aljazair       Aljazair   Afrika   2381        43
10           Jerman         Berlin    Eropa    357        83
11          Inggris         London    Eropa    243        67

Mean Benua nya:
           Luas    Populasi
Benua
Afrika   1652.0  124.500000
Amerika  6771.0  222.333333
Asia     6452.8  660.200000
Eropa     300.0   75.000000

Standard Deviasi nya:
                Luas    Populasi
Benua
Afrika   1030.961687  115.258405
Amerika  4214.899406  101.893735
Asia     6906.996395  661.800725
Eropa      80.610173   11.313708

Jadi